body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #a7ffeb;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #80deea;
}

tr:nth-child(even) {
    background-color: #b2ebf2;
}

.info-button, .add-button {
    background-color: #00bfa5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.info-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.add-button {
    display: block;
    margin: 20px auto 0;
    width: 100%;
}
